{% extends 'myweb/base_new.html' %}
{% block title %}  June To The Moon {% endblock %}

{% block intro %} TO JUNE {% endblock %}
{% block content %}
<div class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-md-2" data-aos="fade-up" data-aos-delay="100">
          <figure class="img-dotted-bg">
            <img src="https://64.media.tumblr.com/4e424eb8983e687429aa4b8a6cb58076/3552629e0d505a5a-11/s400x600/3d68c2d826aca09c0143e014b7213c0aab2cc202.png" alt="Image" class="img-fluid">
          </figure>
        </div>
        <div class="col-md-5 mr-auto" data-aos="fade-up" data-aos-delay="">
          <h2 class="mb-4 section-title">To June คืออะไร?</h2>
          <p>เราคือเพื่อนเมื่อคุณเหงา เราคือที่ปรึกษาเมื่อคุณไม่มีใคร เราเป็นคนที่จะคอยรับฟังคุณเสมอ</p>
          <p>Necessitatibus eligendi molestias similique tempore, optio nobis numquam temporibus debitis cum aspernatur,
            eius, nihil soluta sapiente enim. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
          <figure class="img-dotted-bg">
            <img src="https://i.pinimg.com/originals/f3/fe/3e/f3fe3ea34da3811f11fdc9d312e9fc35.jpg" alt="Image" class="img-fluid">
          </figure>
        </div>
        <div class="col-md-5 ml-auto" data-aos="fade-up" data-aos-delay="">
          <h2 class="mb-4 section-title">ทำไมต้อง June</h2>
          <p>เราทำให้ช่วงเวลาของคุณเต็มประด้วยประสบการณ์ดีๆ เมื่อคุณไม่มีใคร ลองเข้ามาที่นี่สิ ที่นี่มีพื้นที่ให้คุณเสมอ</p>
          <p>Necessitatibus eligendi molestias similique tempore, optio nobis numquam temporibus debitis cum aspernatur,
            eius, nihil soluta sapiente enim. </p>
        </div>
      </div>
    </div>
  </div>


  <div class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-md-2" data-aos="fade-up" data-aos-delay="100">
          <figure class="img-dotted-bg">
            <img src="https://i.pinimg.com/originals/68/44/f7/6844f76d5440ad395d2da16587ac8801.jpg" alt="Image" class="img-fluid">
          </figure>
        </div>
        <div class="col-md-5 mr-auto" data-aos="fade-up" data-aos-delay="">
          <h2 class="mb-4 section-title">บริการที่ปรึกษา</h2>
          <p>เราพร้อมรับฟังและให้คำปรึกษาคุณเสมอ ในเรื่องปัญหาชีวิต ปัญหาครอบครับ ความรัก อกหัก ทุกปัญหามีทางแก้</p>
          <p>Necessitatibus eligendi molestias similique tempore, optio nobis numquam temporibus debitis cum aspernatur,
            eius, nihil soluta sapiente enim. </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}