{% extends 'myweb/base_new.html' %}
{% block title %}  Service To The Moon {% endblock %}

{% block intro %} Service {% endblock %}
{% block content %}

<div class="section">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-4 col-md-6 mb-5 text-center"  data-aos="fade-up" data-aos-delay="">
          <div class="service">
            <span class="icon icon-cursor mb-4 d-block"></span>
            <h3>ให้คำปรึกษาออนไลน์</h3>
            <p>ให้คำปรึกษาผ่าน ช่องทางออนไลน์ต่างๆ </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 text-center"  data-aos="fade-up" data-aos-delay="100">
          <div class="service">
            <span class="icon icon-badge mb-4 d-block"></span>
            <h3>พบปะ พูดคุย </h3>
            <p>สามารถนัดพบ เพื่อพูดคุยปรึกษาได้ โดยต้องอยู่ในเงื่อนไข</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 text-center"  data-aos="fade-up" data-aos-delay="100">
          <div class="service">
            <span class="icon icon-badge mb-4 d-block"></span>
            <h3>ปรึกษาส่วนตัว</h3>
            <p>สามารถนัดพบ เพื่อพูดคุยปรึกษาได้ โดยต้องอยู่ในเงื่อนไข</p>
          </div>
        </div>


{% endblock %}