{% extends 'myweb/base_new.html' %}
{% block title %}  About The Moon {% endblock %}

{% block intro %} welcome to my area {% endblock %}
{% block content %}

<div class="section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-7">
          <a href="https://64.media.tumblr.com/8d7db3e40adfcf78ff3d8e9768bd706e/tumblr_pfzb358fj21rlzlwyo1_1280.jpg" class="mb-3 d-block" data-fancybox="gal"><img src="https://64.media.tumblr.com/8d7db3e40adfcf78ff3d8e9768bd706e/tumblr_pfzb358fj21rlzlwyo1_1280.jpg" alt="Image" class="img-fluid"></a>
          <a href="https://zipimg.azureedge.net/blog/2019/10/2019-10-29_08-12-16_untitled-1.jpg" class="mb-3 d-block" data-fancybox="gal"><img src="https://zipimg.azureedge.net/blog/2019/10/2019-10-29_08-12-16_untitled-1.jpg" alt="Image" class="img-fluid"></a>
          <a href="images/work_4.jpg" class="d-block" data-fancybox="gal"><img src="images/work_4.jpg" alt="Image" class="img-fluid"></a>
        </div>

<!--start detail-->

        <div class="col-lg-4 ml-auto">
          <div class="">
            <h3 class="mb-4">Minatozaki Sana </h3>
            <p>ยินดีที่ได้รู้จักนะ ถ้าคุณกำลังอ่านอยู่ก็ขอบคุณมาก งั้นเรามารู้จักกันดีกว่า</p>
            <p>เธอชอบขนมหวานไหม? ฉันชอบกินขนมหวานมากๆ มันทำให้โลกทั้งใบน่ากินขึ้นมาเลยล่ะ ไว้เรารู้จักกันแล้วพาฉันไปร้านขนมอร่อยๆ ด้วยนะ </p>
            <p>เวลาว่างๆก็มาเล่นกับฉันได้ที่สตรีมได้นะ ฉันสตรีมเกือบทุกคืนเลย ฉันเล่น T&J chese สนุกมากๆ แต่ก็ยังปิงๆอยู่ แล้วเข้ามานะ minatozaki.</p>
            <ul class="list-unstyled mb-5">
              <li class="mb-3">
                <strong class="d-block text-black">พื้นที่:</strong>
                มหาวิทยาลัยอุบลราชธานี, ตัวเมืองอุบลราชธานี, cental plaza ubonratchatani
              </li>
              <li class="mb-3">
                <strong class="d-block text-black">อาชีพ:</strong>
                idol
              </li>
              <li class="mb-3">
                <strong class="d-block text-black">อายุ:</strong>
                24 ปี
              </li>
              <li class="mb-3">
                <strong class="d-block text-black">ส่วนสูง:</strong>
                175 ซม.
              </li>
              <li class="mb-3">
                <strong class="d-block text-black">หมู่เลือด:</strong> 
                B
              </li>
              <li class="mb-3">
                <strong class="d-block text-black">งานอดิเรก:</strong>
                เล่นกีตาร์, เล่นเกม, ว่ายน้ำ
              </li>
            </ul>
            <p><a href="/order" class="btn btn-outline-black ">ทำความรู้จักกับเธอ</a></p>
          </div>
        </div>
      </div>
      
    </div>
  </div>

{%endblock%}